In [1]:
import csv
import os
from bs4 import BeautifulSoup
import requests
import shutil

def scrape(url, output_name):
    """
        url (str): The full URL of the Wikipedia.
        output_name (str): The base file name (without filepath) to write to.
    """

    # Read tables from Wikipedia article into list of HTML strings
    resp = requests.get(url)
    soup = BeautifulSoup(resp.content, "lxml")
    wikitables = soup.findAll("table", {"class": ["sortable", "plainrowheaders"]})

    # Create folder for output if it doesn't exist
    os.makedirs(output_name, exist_ok=True)

    for index, table in enumerate(wikitables):
        # Make a unique file name for each CSV
        if index == 0:
            filename = output_name
        else:
            filename = output_name + "_" + str(index)

        filepath = os.path.join(output_name, filename) + ".csv"

        with open(filepath, mode="w", newline="", encoding="utf-8") as output:
            csv_writer = csv.writer(output, quoting=csv.QUOTE_ALL, lineterminator="\n")
            write_html_table_to_csv(table, csv_writer)

In [2]:
def write_html_table_to_csv(table, writer):
    """Write HTML table from Wikipedia to a CSV file.

    ARGS:
        table (bs4.Tag): The bs4 Tag object being analyzed.
        writer (csv.writer): The csv Writer object creating the output.
    """

    # Hold elements that span multiple rows in a list of
    # dictionaries that track 'rows_left' and 'value'
    saved_rowspans = []
    for row in table.findAll("tr"):
        cells = row.findAll(["th", "td"])

        # If the first row, use it to define width of table
        if len(saved_rowspans) == 0:
            saved_rowspans = [None for _ in cells]
        # Insert values from cells that span into this row
        elif len(cells) != len(saved_rowspans):
            for index, rowspan_data in enumerate(saved_rowspans):
                if rowspan_data is not None:
                    # Insert the data from previous row; decrement rows left
                    value = rowspan_data["value"]
                    cells.insert(index, value)

                    if saved_rowspans[index]["rows_left"] == 1:
                        saved_rowspans[index] = None
                    else:
                        saved_rowspans[index]["rows_left"] -= 1

        # If an element with rowspan, save it for future cells
        for index, cell in enumerate(cells):
            if cell.has_attr("rowspan"):
                rowspan_data = {"rows_left": int(cell["rowspan"]), "value": cell}
                saved_rowspans[index] = rowspan_data

        if cells:
            # Clean the data of references and unusual whitespace
            cleaned = clean_data(cells)

            # Fill the row with empty columns if some are missing
            # (Some HTML tables leave final empty cells without a <td> tag)
            columns_missing = len(saved_rowspans) - len(cleaned)
            if columns_missing:
                cleaned += [None] * columns_missing

            writer.writerow(cleaned)

In [3]:
def clean_data(row):
    """Clean table row list from Wikipedia into a string for CSV.

    ARGS:
        row (bs4.ResultSet): The bs4 result set being cleaned for output.

    RETURNS:
        cleaned_cells (list[str]): List of cleaned text items in this row.
    """

    cleaned_cells = []

    for cell in row:
        # Strip references from the cell
        references = cell.findAll("sup", {"class": "reference"})
        if references:
            for ref in references:
                ref.extract()

        # Strip sortkeys from the cell
        sortkeys = cell.findAll("span", {"class": "sortkey"})
        if sortkeys:
            for ref in sortkeys:
                ref.extract()

        # Strip footnotes from text and join into a single string
        text_items = cell.findAll(text=True)
        no_footnotes = [text for text in text_items if text[0] != "["]

        cleaned = (
            "".join(no_footnotes)  # Combine elements into single string
            .replace("\xa0", " ")  # Replace non-breaking spaces
            .replace("\n", " ")  # Replace newlines
            .strip()
        )

        cleaned_cells += [cleaned]

    return cleaned_cells

In [4]:
# Delete previous output folder if it exists, then create a new one
try:
    shutil.rmtree("output")
except FileNotFoundError:
    pass

scrape(
    url="https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population",
    output_name="US_states",
)

# Move all CSV folders into a single 'output' folder
os.makedirs("output")
shutil.move("./US_states", "./output")

'./output/US_states'

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("./output/US_states/US_states.csv")

In [7]:
df.head()

,,2018rank,City,State,2018estimate,2010Census,Change,2016 land area,2016 population density,Location
1,New York City,New York,"8,398,748","8,175,133",+2.74%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W﻿...
2,Los Angeles,California,"3,990,456","3,792,621",+5.22%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°...
3,Chicago,Illinois,"2,705,994","2,695,598",+0.39%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W﻿...
4,Houston,Texas,"2,325,502","2,100,263",+10.72%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W﻿...
5,Phoenix,Arizona,"1,660,272","1,445,632",+14.85%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°...

In [8]:
df = df.reset_index()

In [9]:
df.columns = ['2018_Rank', 'City', 'State', '2018_estimate', '2010_Census', 'Change_in_Percentage', 
              '2016_land_area_in_mi', '2016_land_area_in_km', '2016_population_density_in_mi', 
              '2016_population_density_in_km', 'Location']

In [10]:
df

,2018_Rank,City,State,2018_estimate,2010_Census,Change_in_Percentage,2016_land_area_in_mi,2016_land_area_in_km,2016_population_density_in_mi,2016_population_density_in_km,Location
0,1,New York City,New York,"8,398,748","8,175,133",+2.74%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W﻿...
1,2,Los Angeles,California,"3,990,456","3,792,621",+5.22%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°...
2,3,Chicago,Illinois,"2,705,994","2,695,598",+0.39%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W﻿...
3,4,Houston,Texas,"2,325,502","2,100,263",+10.72%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W﻿...
4,5,Phoenix,Arizona,"1,660,272","1,445,632",+14.85%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°...
5,6,Philadelphia,Pennsylvania,"1,584,138","1,526,006",+3.81%,134.2 sq mi,347.6 km2,"11,683/sq mi","4,511/km2",40°00′34″N 75°08′00″W﻿ / ﻿40.0094°N 75.1333°W﻿...
6,7,San Antonio,Texas,"1,532,233","1,327,407",+15.43%,461.0 sq mi,"1,194.0 km2","3,238/sq mi","1,250/km2",29°28′21″N 98°31′30″W﻿ / ﻿29.4724°N 98.5251°W﻿...
7,8,San Diego,California,"1,425,976","1,307,402",+9.07%,325.2 sq mi,842.3 km2,"4,325/sq mi","1,670/km2",32°48′55″N 117°08′06″W﻿ / ﻿32.8153°N 117.1350°...
8,9,Dallas,Texas,"1,345,047","1,197,816",+12.29%,340.9 sq mi,882.9 km2,"3,866/sq mi","1,493/km2",32°47′36″N 96°45′59″W﻿ / ﻿32.7933°N 96.7665°W﻿...
9,10,San Jose,California,"1,030,119","945,942",+8.90%,177.5 sq mi,459.7 km2,"5,777/sq mi","2,231/km2",37°17′48″N 121°49′08″W﻿ / ﻿37.2967°N 121.8189°...
10,11,Austin,Texas,"964,254","790,390",+22.00%,312.7 sq mi,809.9 km2,"3,031/sq mi","1,170/km2",30°18′14″N 97°45′16″W﻿ / ﻿30.3039°N 97.7544°W﻿...
11,12,Jacksonville,Florida,"903,889","821,784",+9.99%,747.4 sq mi,"1,935.8 km2","1,178/sq mi",455/km2,30°20′13″N 81°39′42″W﻿ / ﻿30.3369°N 81.6616°W﻿...
12,13,Fort Worth,Texas,"895,008","741,206",+20.75%,342.9 sq mi,888.1 km2,"2,491/sq mi",962/km2,32°46′53″N 97°20′48″W﻿ / ﻿32.7815°N 97.3467°W﻿...
13,14,Columbus,Ohio,"892,533","787,033",+13.40%,218.5 sq mi,565.9 km2,"3,936/sq mi","1,520/km2",39°59′07″N 82°59′05″W﻿ / ﻿39.9852°N 82.9848°W﻿...
14,15,San Francisco,California,"883,305","805,235",+9.70%,46.9 sq mi,121.5 km2,"18,569/sq mi","7,170/km2",37°43′38″N 123°01′56″W﻿ / ﻿37.7272°N 123.0322°...
15,16,Charlotte,North Carolina,"872,498","731,424",+19.29%,305.4 sq mi,791.0 km2,"2,757/sq mi","1,064/km2",35°12′28″N 80°49′52″W﻿ / ﻿35.2078°N 80.8310°W﻿...
16,17,Indianapolis,Indiana,"867,125","820,445",+5.69%,361.5 sq mi,936.3 km2,"2,366/sq mi",914/km2,39°46′36″N 86°08′45″W﻿ / ﻿39.7767°N 86.1459°W﻿...
17,18,Seattle,Washington,"744,955","608,660",+22.39%,83.8 sq mi,217.0 km2,"8,405/sq mi","3,245/km2",47°37′14″N 122°21′03″W﻿ / ﻿47.6205°N 122.3509°...
18,19,Denver,Colorado,"716,492","600,158",+19.38%,153.3 sq mi,397.0 km2,"4,521/sq mi","1,746/km2",39°45′43″N 104°52′52″W﻿ / ﻿39.7619°N 104.8811°...
19,20,"Washington, D.C.",District of Columbia,"702,455","601,723",+16.74%,61.1 sq mi,158.2 km2,"11,148/sq mi","4,304/km2",38°54′15″N 77°01′02″W﻿ / ﻿38.9041°N 77.0172°W﻿...
20,21,Boston,Massachusetts,"694,583","617,594",+12.47%,48.3 sq mi,125.1 km2,"13,938/sq mi","5,381/km2",42°19′55″N 71°01′13″W﻿ / ﻿42.3320°N 71.0202°W﻿...
21,22,El Paso,Texas,"682,669","649,121",+5.17%,256.8 sq mi,665.1 km2,"2,660/sq mi","1,030/km2",31°50′54″N 106°25′37″W﻿ / ﻿31.8484°N 106.4270°...
22,23,Detroit,Michigan,"672,662","713,777",−5.76%,138.8 sq mi,359.5 km2,"4,847/sq mi","1,871/km2",42°22′59″N 83°06′08″W﻿ / ﻿42.3830°N 83.1022°W﻿...
23,24,Nashville,Tennessee,"669,053","601,222",+11.28%,475.9 sq mi,"1,232.6 km2","1,388/sq mi",536/km2,36°10′18″N 86°47′06″W﻿ / ﻿36.1718°N 86.7850°W﻿...
24,25,Portland,Oregon,"653,115","583,776",+11.88%,133.5 sq mi,345.8 km2,"4,793/sq mi","1,851/km2",45°32′13″N 122°39′00″W﻿ / ﻿45.5370°N 122.6500°...
25,26,Memphis,Tennessee,"650,618","646,889",+0.58%,317.4 sq mi,822.1 km2,"2,056/sq mi",794/km2,35°06′10″N 89°58′39″W﻿ / ﻿35.1028°N 89.9774°W﻿...
26,27,Oklahoma City,Oklahoma,"649,021","579,999",+11.90%,606.3 sq mi,"1,570.3 km2","1,053/sq mi",407/km2,35°28′02″N 97°30′49″W﻿ / ﻿35.4671°N 97.5137°W﻿...
27,28,Las Vegas,Nevada,"644,644","583,756",+10.43%,134.4 sq mi,348.1 km2,"4,709/sq mi","1,818/km2",36°13′45″N 115°15′36″W﻿ / ﻿36.2292°N 115.2601°...
28,29,Louisville,Kentucky,"620,118","597,337",+3.81%,263.5 sq mi,682.5 km2,"2,339/sq mi",903/km2,38°09′55″N 85°38′51″W﻿ / ﻿38.1654°N 85.6474°W﻿...
29,30,Baltimore,Maryland,"602,495","620,961",−2.97%,80.9 sq mi,209.5 km2,"7,598/sq mi","2,934/km2",39°18′00″N 76°36′38″W﻿ / ﻿39.3000°N 76.6105°W﻿...
...,...,...,...,...,...,...,...,...,...,...,...
284,285,Greeley,Colorado,"107,348","92,889",+15.57%,47.8 sq mi,123.8 km2,"2,176/sq mi",840/km2,40°24′55″N 104°46′11″W﻿ / ﻿40.4153°N 104.7697°...
285,286,Daly City,California,"107,008","101,123",+5.82%,7.6 sq mi,19.7 km2,"14,009/sq mi","5,409/km2",37°42′03″N 122°27′54″W﻿ / ﻿37.7009°N 122.4650°...
286,287,Meridian,Idaho,"106,804","75,092",+42.23%,29.8 sq mi,77.2 km2,"3,584/sq mi","1,384/km2",43°36′51″N 116°23′56″W﻿ / ﻿43.6142°N 116.3989°...
287,288,Lewisville,Texas,"106,586","95,290",+11.85%,36.7 sq mi,95.1 km2,"2,852/sq mi","1,101/km2",33°02′48″N 96°58′54″W﻿ / ﻿33.0466°N 96.9818°W﻿...
288,289,Davie,Florida,"106,558","91,992",+15.83%,34.9 sq mi,90.4 km2,"2,919/sq mi","1,127/km2",26°04′45″N 80°17′06″W﻿ / ﻿26.0791°N 80.2850°W﻿...
289,290,West Covina,California,"106,311","106,098",+0.20%,16.0 sq mi,41.4 km2,"6,740/sq mi","2,600/km2",34°03′21″N 117°54′36″W﻿ / ﻿34.0559°N 117.9099°...
290,291,League City,Texas,"106,244","83,560",+27.15%,51.2 sq mi,132.6 km2,"1,992/sq mi",769/km2,29°29′24″N 95°06′33″W﻿ / ﻿29.4901°N 95.1091°W﻿...
291,292,Tyler,Texas,"105,729","96,900",+9.11%,56.6 sq mi,146.6 km2,"1,852/sq mi",715/km2,32°19′02″N 95°18′21″W﻿ / ﻿32.3173°N 95.3059°W﻿...
292,293,Norwalk,California,"105,120","105,549",−0.41%,9.7 sq mi,25.1 km2,"10,946/sq mi","4,226/km2",33°54′27″N 118°05′01″W﻿ / ﻿33.9076°N 118.0835°...
293,294,San Mateo,California,"105,025","97,207",+8.04%,12.1 sq mi,31.3 km2,"8,592/sq mi","3,317/km2",37°33′37″N 122°18′38″W﻿ / ﻿37.5603°N 122.3106°...
294,295,Green Bay,Wisconsin,"104,879","104,057",+0.79%,45.4 sq mi,117.6 km2,"2,316/sq mi",894/km2,44°31′15″N 87°59′03″W﻿ / ﻿44.5207°N 87.9842°W﻿...
295,296,Wichita Falls,Texas,"104,576","104,553",+0.02%,72.2 sq mi,187.0 km2,"1,450/sq mi",560/km2,33°54′24″N 98°31′33″W﻿ / ﻿33.9067°N 98.5259°W﻿...
296,297,Sparks,Nevada,"104,246","90,264",+15.49%,35.9 sq mi,93.0 km2,"2,810/sq mi","1,080/km2",39°33′16″N 119°44′08″W﻿ / ﻿39.5544°N 119.7356°...
297,298,Lakewood,New Jersey,"104,157","92,843",+12.19%,24.7 sq mi,64.0 km2,"4,079/sq mi","1,575/km2",40°04′38″N 74°12′01″W﻿ / ﻿40.0771°N 74.2004°W﻿...
298,299,Burbank,California,"103,695","103,340",+0.34%,17.4 sq mi,45.1 km2,"6,003/sq mi","2,318/km2",34°11′24″N 118°19′35″W﻿ / ﻿34.1901°N 118.3264°...
299,300,Rialto,California,"103,440","99,171",+4.30%,22.3 sq mi,57.8 km2,"4,633/sq mi","1,789/km2",34°06′42″N 117°23′18″W﻿ / ﻿34.1118°N 117.3883°...
300,301,Allen,Texas,"103,383","84,246",+22.72%,27.1 sq mi,70.2 km2,"3,715/sq mi","1,434/km2",33°05′59″N 96°39′47″W﻿ / ﻿33.0997°N 96.6631°W﻿...
301,302,El Cajon,California,"103,241","99,478",+3.78%,14.5 sq mi,37.6 km2,"7,156/sq mi","2,763/km2",32°48′06″N 116°57′37″W﻿ / ﻿32.8017°N 116.9604°...
302,303,Las Cruces,New Mexico,"102,926","97,618",+5.44%,76.9 sq mi,199.2 km2,"1,323/sq mi",511/km2,32°19′35″N 106°47′23″W﻿ / ﻿32.3264°N 106.7897°...
303,304,Renton,Washington,"102,153","90,927",+12.35%,23.4 sq mi,60.6 km2,"4,314/sq mi","1,666/km2",47°28′34″N 122°11′31″W﻿ / ﻿47.4761°N 122.1920°...
304,305,Davenport,Iowa,"102,085","99,685",+2.41%,62.9 sq mi,162.9 km2,"1,631/sq mi",630/km2,41°33′15″N 90°36′14″W﻿ / ﻿41.5541°N 90.6040°W﻿...
305,306,South Bend,Indiana,"101,860","101,168",+0.68%,41.4 sq mi,107.2 km2,"2,457/sq mi",949/km2,41°40′37″N 86°16′08″W﻿ / ﻿41.6769°N 86.2690°W﻿...
306,307,Vista,California,"101,224","93,834",+7.88%,18.7 sq mi,48.4 km2,"5,436/sq mi","2,099/km2",33°11′22″N 117°14′19″W﻿ / ﻿33.1895°N 117.2386°...
307,308,Tuscaloosa,Alabama,"101,113","90,468",+11.77%,71.7 sq mi,185.7 km2,"1,399/sq mi",540/km2,33°12′23″N 87°32′05″W﻿ / ﻿33.2065°N 87.5346°W﻿...
308,309,Clinton,Michigan,"100,800","96,796",+4.14%,28.1 sq mi,72.8 km2,"3,573/sq mi","1,380/km2",42°35′25″N 82°55′01″W﻿ / ﻿42.5903°N 82.9170°W﻿...
309,310,Edison,New Jersey,"100,693","99,967",+0.73%,30.1 sq mi,78.0 km2,"3,389/sq mi","1,309/km2",40°30′14″N 74°20′58″W﻿ / ﻿40.5040°N 74.3494°W﻿...
310,311,Woodbridge,New Jersey,"100,450","99,585",+0.87%,23.3 sq mi,60.3 km2,"4,351/sq mi","1,680/km2",40°33′39″N 74°17′34″W﻿ / ﻿40.5607°N 74.2927°W﻿...
311,312,San Angelo,Texas,"100,215","93,200",+7.53%,59.9 sq mi,155.1 km2,"1,681/sq mi",649/km2,31°26′28″N 100°27′02″W﻿ / ﻿31.4411°N 100.4505°...
312,313,Kenosha,Wisconsin,"100,164","99,218",+0.95%,28.0 sq mi,72.5 km2,"3,577/sq mi","1,381/km2",42°34′56″N 87°50′44″W﻿ / ﻿42.5822°N 87.8456°W﻿...
313,314,Vacaville,California,"100,154","92,428",+8.36%,29.0 sq mi,75.1 km2,"3,449/sq mi","1,332/km2",38°21′14″N 121°58′22″W﻿ / ﻿38.3539°N 121.9728°...

In [11]:
len(df)

314

In [19]:
df.to_csv('topos_final_DE.csv', sep='\t', encoding='utf-8')